<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar</title>
    <link rel="stylesheet" href="/CSS/filme.css">
</head>
<body>
    <div class="titulo">
        <h1>Atores</h1>
    </div>

    <a href="/atores/novo" class="botao">Cadastrar Ator</a>

    <div class="flex form">
        <li>
            {{#each atores}}
                <ul>
                    {{nome}}
                    <a href="/atores/{{id}}/editar">Editar</a>

                    <form method="POST" action="/atores/excluir/{{id}}" style="display:inline;">
                        <button type="submit">Excluir</button>
                    </form>
                </ul>
            {{/each}}
        </li>
    </div>

    <a href="/" class="voltar">Voltar</a>
</body>
</html>