<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar</title>
    <link rel="stylesheet" href="/CSS/filme.css">
</head>
<body>
    <div class="titulo">
        <h1>Gêneros</h1>
    </div>
    
    <a href="/generos/novo" class="botao">Cadastrar Gênero</a>
    
    <div class="form">
        <li>
            {{#each generos}}
                <ul>
                    {{nome}}
                    <a href="/generos/{{id}}/editar">Editar</a>

                    <form method="POST" action="/generos/excluir/{{id}}" style="display:inline;">
                        <button type="submit">Excluir</button>
                    </form>
                </ul>
            {{/each}}
        </li>
    </div>
    <a href="/" class="voltar">Voltar</a>
</body>
</html>
