<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Gêneros</h1>

    <a href="/generos/novo">Cadastrar Gênero</a>

    <ul>
        {{#each generos}}
            <li>
                {{nome}}
                <a href="/generos/{{id}}/editar">Editar</a>

                <form method="POST" action="/generos/excluir/{{id}}" style="display:inline;">
                    <button type="submit">Excluir</button>
                </form>
            </li>
        {{/each}}
    </ul>

    <a href="/">Voltar</a>
</body>
</html>
