<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/filme.css">
    <title>Cadastrar</title>
</head>
<body>
    <div class="titulo">
        <h1>Cadastrar Sessão</h1>
    </div>

    <div class="form flex">
    <form method="POST" action="/sessoes">
        <p>Data e Hora:</p><input type="datetime-local" name="dataHora" required><br>

        <p>Filme:</p>
        <select name="filmeId">
            {{#each filmes}}
                <option value="{{id}}">{{nome}}</option>
            {{/each}}
        </select>

        <button type="submit">Salvar</button>
    </form>
    </div>
    <a href="/" class="voltar">Voltar</a>
</body>
</html>