<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/filme.css">
    <title>Cadastrar</title>
</head>
<body>
    <div class="titulo">
    <h1>Comprar Ingresso</h1>
    </div>

    <div class="form">
        <form method="POST" action="/ingressos">
            <p>Preço:</p> <input type="number" name="preco" required><br>

            <p>Sessão:</p>
            <select name="sessaoId">
                {{#each sessoes}}
                <option value="{{id}}">{{#if Filme}}{{Filme.nome}} - {{/if}}{{dataHora}}</option>
                {{/each}}
            </select>

            <button type="submit" class="botao">Comprar</button>
        </form>
    </div>

    <a href="/" class="voltar">Voltar</a>
</body>
</html>