<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/filme.css">
    <title>Listar</title>
</head>
<body>
    <div class="titulo">
        <h1>Ingressos</h1>
    </div>

    <a href="/ingressos/novo" class="botao">Comprar Ingresso</a>

    <div class="flex form">
        <li>
            {{#each ingressos}}
                <ul>
                    Preço: R$ {{preco}} <br>
                    Sessão: {{Sessao.dataHora}}

                    <form method="POST" action="/ingressos/excluir/{{id}}" style="display:inline;">
                        <button type="submit">Excluir</button>
                    </form>
                </ul>
            {{/each}}
        </li>
    </div>

    <a href="/" class="voltar">Voltar</a>
</body>
</html>