<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhar</title>
    <link rel="stylesheet" href="/CSS/filme.css">
</head>
<body>
    <div class="titulo">
        <h1>Detalhar {{filme.nome}}</h1>
    </div>

    <div class="form">
        <p><strong>ID:</strong> {{filme.id}}</p>
        <p><strong>Nome:</strong> {{filme.nome}}</p>
    </div>

    <a href="/" class="voltar">Voltar</a>

</body>
</html>