<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<h1>Sistema de Cinema</h1>

<ul>
    <li><a href="/filmes">Filmes</a></li>
    <li><a href="/generos">Gêneros</a></li>
    <li><a href="/sessoes">Sessões</a></li>
    <li><a href="/ingressos">Ingressos</a></li>
    <li><a href="/atores">Atores</a></li>
    <li><a href="/criticas">Críticas</a></li>
</ul>

</body>
</html>